metadata:
  annotations:
    pipelinesascode.tekton.dev/on-cel-expression: |
      event == "push"
      && target_branch == "{{branch}}"
      && ( files.all.exists(p, !(
        p.matches('^bundle/') || p.matches('^\\.tekton/')
          || p.matches('^\\.github/workflows/')
          || p.matches('^Dockerfiles/bundle\\.Dockerfile$')
      ) || ".tekton/{{filename}}".pathChanged()) )
