apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: "{{ _parent | delete_if_contains('opendatahub-io') | to_private_gitlab }}"
    build.appstudio.redhat.com/commit_sha: "{{ '{{revision}}' }}"
    build.appstudio.redhat.com/target_branch: "{{ '{{target_branch}}' }}"
    build.appstudio.redhat.com/pull_request_number: "{{ '{{pull_request_number}}' }}"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-comment: "{{ _ | default_comment }}"
    pipelinesascode.tekton.dev/on-label: "{{ ABSENT }}"
    pipelinesascode.tekton.dev/on-target-branch: "{{ ABSENT }}"
    pipelinesascode.tekton.dev/on-event: "{{ ABSENT }}"
    pipelinesascode.tekton.dev/on-cel-expression: "{{ _parent  | validate_cel_tekton_ignore | validate_cel(branch, filename) | to_pr_cel }}"
    pipelinesascode.tekton.dev/cancel-in-progress: "true"
  labels:
    appstudio.openshift.io/application: "{{ _parent }}"
    appstudio.openshift.io/component: "{{ _parent }}"
    pipelines.appstudio.openshift.io/type: build
  name: "{{ _parent | strip_version }}-on-pull-request"
  namespace: "{{ _ | delete_if('open-data-hub-tenant') | must_equal('rhoai-private-tenant') }}"
spec:
  params:
  - name: git-url
    value: "{{ '{{source_url}}' }}"
  - name: revision
    value: "{{ '{{revision}}' }}"
  - name: additional-tags
    value:
    - "{{ 'on-pr-{{pull_request_number}}' }}"
  - name: output-image
    value: "{{ _parent | split_tag | to_private_quay }}:on-pr-{{ '{{pull_request_number}}' }}"
  - name: rhoai-version
    value: "{{ _parent | must_be_version(vars['rhoai-version']) }}"
  - name: image-expires-after
    value: 5d
  - name: disable-slack-notifications
    value: "true"
  - name: enable-slack-failure-notification
    value: "{{ ABSENT }}"
  pipelineRef:
    resolver: git
    params:
    - name: url
      value: "{{ _ | must_be_approved_pipeline }}"
    - name: revision
      value: "{{ '{{ target_branch }}' }}"
    - name: pathInRepo
      value: "{{ _ }}"
  taskRunTemplate:
    serviceAccountName: "{{ _parent }}"
  workspaces:
  - name: git-auth
    secret:
      secretName: "{{ '{{ git_auth_secret }}' }}"
